/* SCSS HEX */
$independence: #3a405aff;
$light-steel-blue: #aec5ebff;
$champagne-pink: #f9dec9ff;
$melon: #e9afa3ff;
$umber: #685044ff;


/* SCSS HSL */
$independence: hsla(229, 22%, 29%, 1);
$light-steel-blue: hsla(217, 60%, 80%, 1);
$champagne-pink: hsla(26, 80%, 88%, 1);
$melon: hsla(10, 61%, 78%, 1);
$umber: hsla(20, 21%, 34%, 1);

/* SCSS RGB */
$independence: rgba(58, 64, 90, 1);
$light-steel-blue: rgba(174, 197, 235, 1);
$champagne-pink: rgba(249, 222, 201, 1);
$melon: rgba(233, 175, 163, 1);
$umber: rgba(104, 80, 68, 1);
$book-color: rgb(248, 229, 188);

/* SCSS Gradient */
$gradient: linear-gradient(0deg, #aec5ebff, #f9dec9ff, #e9afa3ff);


//Standard Margings
$main-margin-top-bottom: 20px;
$main-margin-left-right: 20px;
$main-margin: $main-margin-top-bottom $main-margin-left-right;

//Standard Paddings

//Standard Widths

// Standard Heights
$header-height: 75px;
$main-height: calc(100vh - $header-height - calc($main-margin-top-bottom + $main-margin-top-bottom));

// Standard Classes
.flex {
  display: flex;
}
