// Import variables
@use "../../utilities/variables.scss" as v;
@import url('http://weloveiconfonts.com/api/?family=entypo');
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

$journal-date-height: 20px;
$button-box-shadow: 0px 0px 5px 2px v.$independence;
#journal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: v.$main-margin;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 50%;
  
  

  #leftpage {
    width: 50%;
    background-color: v.$book-color;
    height: v.$main-height;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    background-color: v.$book-color;
    

    h3 {
      margin: 10px 0px 10px 0px;
      text-align: center;
      font-family: 'Farsan', cursive;
      height: 60px;
      font-size:x-large;
      font-weight: 500;
      word-spacing: 7px;
      margin-top: 24px;
      letter-spacing: 2px;
      
      

    }

    #all-emotions-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 50px;

      .emotion-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        &:hover {
          box-shadow: $button-box-shadow;
        }
      }

      .emotion-icon {
        width: 60px;
        height: 60px;
      }
    }

    #all-activities-container {
      display: flex;
      flex-wrap: wrap;
      height: 70%;
      column-gap: 5%;

      .activity-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 20%;
        height: 25%;
        background-color: white;
        &:hover {
          box-shadow: $button-box-shadow;
        }
      }

      .activity-icon {
        width: 75px;
        height: 75px;
        margin: auto;
      }
    }
  }

  #rightpage {
    width: 50%;
    height: v.$main-height;
    background-color: v.$book-color;
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
  }

  #journal-date {
    height: $journal-date-height;
    text-align: right;
    margin-bottom: 10px;
  }

  #diary-input {
    outline: none;
    border: none;
    resize: none;
    text-align: left;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    line-height: .8;


    &::-webkit-scrollbar {
      border-radius: 10px;
      background-color: v.$light-steel-blue;
      width: 20px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: v.$independence;
      &:hover {
        cursor: pointer !important;
      }
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    /* Begin The Redundancies */
    background-image: -webkit-linear-gradient(
        0deg,
        transparent 5em,
        rgba(255, 0, 0, 0.2) 0,
        transparent 5.1em
      ),
      -webkit-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
    background-image: -moz-linear-gradient(
        0deg,
        transparent 5em,
        rgba(255, 0, 0, 0.2) 0,
        transparent 5.1em
      ),
      -moz-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
    background-image: -o-linear-gradient(
        0deg,
        transparent 5em,
        rgba(255, 0, 0, 0.2) 0,
        transparent 5.1em
      ),
      -o-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
    background-image: -ms-linear-gradient(
        0deg,
        transparent 5em,
        rgba(255, 0, 0, 0.2) 0,
        transparent 5.1em
      ),
      -ms-linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
    -webkit-background-size: 100% 2em;
    -moz-background-size: 100% 2em;

    /* In a perfect world... */
    background-image: linear-gradient(
        0deg,
        transparent 5em,
        rgba(255, 0, 0, 0.2) 0,
        transparent 5.1em
      ),
      linear-gradient(rgba(0, 0, 255, 0.3) 1px, transparent 0);
    background-size: 100% 2em;
  }
  #save-delete-container{
    display:flex;
    flex-direction: row;
  }

  #diary-input-container {
    height: calc(100% - $journal-date-height - 50px);
  }

  #diary-save-button {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
    height: 40px;
    width: 200px;
  }

  #diary-delete-button{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
    height: 40px;
    width: 200px;
  }
}

.button-selected {
  box-shadow: $button-box-shadow;
}

.scale-down-center {
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

// body {
//   /* Set a font size */
//   font-size: 16px;

// }
